
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* global */
body {
  font-family: Roboto, sans-serif;
  color: white;
  background: url("images/blurred-background.jpg")
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.page-wrap {
  position: relative;
  top: 60px;
  left: 0;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
section {
  padding: 2rem 1rem;
}
table {
  display: block;
  table-layout: fixed;
  width: auto;
  font-size: inherit;
  border-collapse: collapse;
  caption: top;
  width: auto;
}

/*.main-grid {
    display: grid;
}*/

/* navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: inherit;
  border-bottom: 3px solid green;
}
.logo {
  margin-left: 1rem;
  padding: 5px;
  height: 100%;
}
.logo img {
  display: block;
  max-height: 100%;
  margin: auto;
}
nav {
  display: flex;
  align-self: flex-end;
}
.link {
  display: block;
  color: white;
  border-right: 1px solid white;
  margin: 0 1px;
  padding: 0.5rem 1rem;
}
.intro {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 50vh;
  padding: 1rem;
  background: url("images/red-lights-in-line.jpg")
    no-repeat center;
  background-size: cover;
  color: white;
  text-shadow: 3px 2px 1px black;
}
.intro h1 {
  font-size: 3rem;
}
.intro p {
  font-size: 2rem;
}
#features {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.feats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}
.feat {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 1rem;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
}
.feat img {
  display: block;
  width: 30%;
  margin: auto;
}
.feat p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: black;
}

/*  products  */

/* about */

/* contact  */
caption {
  text-align: left;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
td {
  padding-left: 1rem;
  height: 2rem;
}
